<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated example -->
      <package
            uri="http://www.example.com/SimplePO"
            class="com.example.simple.po.PoPackage"
            genModel="model/example.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated example -->
      <parser
            type="po"
            class="com.example.simple.po.util.PoResourceFactoryImpl"/>
   </extension>

</plugin>
